body{
    margin-top:100px;
    color:black;
}
main{
    margin-bottom:250px;
}
section{
    margin-bottom:50px;
    margin-bottom:50px;
}
.container-fluid{
    margin:0;
    padding:0 -15px 0 -15px;
}
a {
    color: black;
}
.prix{
    float: right;
    margin-right:20px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}

h1{
    margin-bottom:30px;
    margin-top:120px;
    font-size:1.8rem;
}

h2{
    font-size:1.6rem;
    margin-bottom:20px;
    margin-top:20px;
}




.normalSize{
    font-weight: normal;
    font-size:1.1rem;
}




/* Navigation */
.navbar-brand {
    font-family: "Yellowtail", cursive;
    font-size: 2rem;
    margin-left: 10px;
    color: #332206;
}
.navbar-brand:hover{
    color: #58441b;
}

.navbar .icon-bar {
    background-color: white;
}

.navbar-color {
    background-color: rgba(117, 155, 68, 0.945);
}
.btn-nav-bg {
    background-color: rgba(117, 155, 68, 0.945);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-nav-bg:hover {
    background: #eeeeee;
}
.btn-nav-bg a {
    text-decoration: none;
}

.collapse ul {
    margin-right: 0px;
}
.collapse ul a {
    font-size: 1.2rem;
}



article > p{
    margin-top:20px;
}








#image-produit img{
    width: 10vw;
    min-width:100px;
    margin-left:10px;
    margin-right:10px;
    min-height: 60px;
}





/* FOOTER */
  
footer {
    background-color: #dacec2;
    padding: 20px;
    margin-top:20px;
    padding-bottom:0;
}
footer ul, footer p {
  list-style: none;
  padding-left: 10px;
  color: #656e68;
}
footer .mention {
  text-align: center;
  font-size: 0.8rem;
}
footer .social {
  padding-left: 10px;
  padding-right: 10px;
}
footer form {
  margin-left: 5px;
}
footer a {
  color: #656e68;
}
  







@media screen and (max-width: 767px) {
    .navbar {
      background-color: rgba(117, 155, 68, 0.945);
    }
    body{
        margin-bottom:350px;
    }
    p.quantity{
        text-align: center;
    }
    .row{
        margin:0;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding: 0 0 0 15px;
    }
}

@media screen and (max-width: 578px) {   
    footer {
      text-align: center;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding:0;
    }
}