/* COMMUN */
body{
    margin-top:120px;
    color:black;
    font-size:1rem;
}
main{
    margin-bottom:200px;
}
.container-fluid{
    margin:0;
    padding:0 -15px 0 -15px;
}
a {
    color: black;
}

h2 {
    font-size:1.7rem;
    color: #475a51;
    font-weight: bold;
    font-family: "Lobster", cursive;
  }
  
h3 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
}

article p{
    margin-bottom:50px;
}
  
  
  










/* Navigation */
.navbar-brand {
    font-family: "Yellowtail", cursive;
    font-size: 2rem;
    margin-left: 10px;
    color: #332206;
}
.navbar-brand:hover{
  color: #58441b;
}

.navbar .icon-bar {
  background-color: white;
}

.navbar-color {
  background-color: rgba(117, 155, 68, 0.945);
}




.collapse ul {
    margin-right: 0px;
}
.collapse ul a {
    font-size: 1.2rem;
}










.btn-taille{
    /* box-shadow: 2px 2px 5px grey ; */
    margin: 15px;
}
.btn-panier{
    margin-left:15px;
    margin-top:15px;
    margin-bottom:50px;
}
.btn-panier a{
    color:white;
}

h5 {
    font-weight: bold;
    color: #475a51;
    margin-top: 25px;
    margin-left: 10px;
  }











  /* FOOTER */
  
  footer {
    background-color: #dacec2;
    padding-left: 2vw;
    padding-right:2vw;
  }
  footer ul, footer p {
    list-style: none;
    padding-left: 10px;
    color: #656e68;
  }
  footer .mention {
    text-align: center;
    font-size: 0.8rem;
  }
  footer .social {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer form {
    margin-left: 5px;
  }
  footer a {
    color: #656e68;
  }
  
  









@media screen and (max-width: 767px) {
    .navbar {
        background-color: rgba(117, 155, 68, 0.945);
    }
} 
@media screen and (max-width: 540px) {
    footer {
        text-align: center;
    }
}